05 - Exchange/Exchange.Solution/Exchange.Solution/obj
05 - Exchange/Exchange.Solution/.vs
05 - Exchange/Exchange.Solution/Solution.Domain/obj
05 - Exchange/Exchange.Solution/Solution.Shared/obj
05 - Exchange/Exchange.Solution/Solution.API/obj
05 - Exchange/Exchange.Solution/Solution.Validators/obj
05 - Exchange/Exchange.Solution/Solution.Services/obj
05 - Exchange/Exchange.Solution/Solution.WebAPI/obj
05 - Exchange/Exchange.Solution/Solution.WebAPI/bin
05 - Exchange/Exchange.Solution/Solution.Database/obj
05 - Exchange/Exchange.Solution/Solution.Core/obj
05 - Exchange/Exchange.Solution/Solution.Common/obj
05 - Exchange/Exchange.Solution/Solution.Common/obj
05 - Exchange/Exchange.Solution/Solution.Common/obj
05 - Exchange/Exchange.Solution/Exchange.Solution/bin
05 - Exchange/Exchange.Solution/Solution.Common/bin
05 - Exchange/Exchange.Solution/Solution.Core/bin
05 - Exchange/Exchange.Solution/Solution.Database/bin
05 - Exchange/Exchange.Solution/Solution.Services/bin
05 - Exchange/Exchange.Solution/Solution.Validators/bin
05 - Exchange/Exchange.Solution/architecture.md
